# Ambiente virtual do Python
venv/
env/

# Arquivos de cache do Python
__pycache__/
*.pyc

# Variáveis de ambiente
.env

# Áudios gerados pelo gTTS
static/audio/*.mp3

# Arquivos de configuração de editores/IDEs
.vscode/
.idea/